@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

* {
    box-sizing: border-box;
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    font-weight: bold;
    font-size: 33px;
}

body {
    margin: 0;
    padding: 0;
    background: black;
}

.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    margin: 4px;
    outline: none;
    background: black;
    color: white;
    transition: 200ms;
}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em white;
    transform: translateY(-0.25em);
    background-color: #9c9c9c;
}

.display {
    grid-column: 1 / -1;
    background-color: black;
    color: white;
    border: 2px solid white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 5px;
    border-radius: 15px;
}

.operator {
    border-color: orange;
    color: orange;
}

.operator:hover {
    background: #fae8cf;
}

.equals {
    background: orange;
    grid-column: span 2;
}

.equals:hover {
    background: #fae8cf;
    color: orange;
    border: 2px solid orange;
}

#deleteBtn {
    background: #9c9c9c;
}

#deleteBtn:hover {
    color: red;
    border: 2px solid red;
}

.previous {
    font-size: 23px;
    color: rgba(255, 255, 255, 0.80);
}

.current {
    font-size: 36px;
}